
@{
    ViewData["Title"] = "Delete";
}

@if (ViewBag.Succeeded != null)
{
    <div class="alert alert-success text-center" role="alert" style="background-color: #d4edda; border-color: #c3e6cb;">
        <h2 class="m-0">Question Was Deleted</h2>
    </div>
}
else
{
    <div class="alert alert-success text-center" role="alert" style="background-color: #d4edda; border-color: #c3e6cb;">
        <h2 class="m-0">Question Was Not Deleted</h2>
    </div>

}

