@{
    ViewData["Title"] = "DisplayAll";
}

@model List<AskHub.ViewModels.QuestionViewModel>

@foreach (AskHub.ViewModels.QuestionViewModel question in Model)
{
    //display things in QuestionViewModel

    <h4>---------------------</h4>
    <h4>@question.Content</h4>
    <h4>SRC: @question.SourceUsername</h4>
    <h4>DST: @question.DestinationUsername</h4>

    if (User.Identity!.IsAuthenticated)
    {
        string currentUsername = User.Identity.Name!;
        if (currentUsername == question.SourceUsername)
        {
            <form action="@Url.Action("Update", "Question", new { id = question.Id })" method="get">
                <button type="submit" class="btn btn-primary">Send Question</button>
            </form>
        }
    }


    <h4>---------------------</h4>

}

<h1>DisplayAll</h1>

