@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Should Display all users that you follow</h1>
    }
    else
    {
        <h1 class="display-4">Welcome To AskHub</h1>
    }
    
    
</div>
